body{
    background: url("https://i.pinimg.com/originals/bd/72/d1/bd72d10c741dde2ce2684577ffa0d86f.gif");
    background-size: cover;
    background-position-x: center;
    background-attachment: fixed;
}

h1{
    text-align: center;
    color: floralwhite;
    padding: 20px;
    font-size: 80px;
}

#search{
    height: 30px;
    width: 250px;
    border-radius: 10px;
    border: none;
}
button{
    margin-top: 20px;
    height: 30px;
    width: 90px;
    color: white;
    background-color: rgb(145 202 227);
    border-radius: 10px;
    border: none;
}
.one{
    text-align: center;
}